<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/styles.css" />
  <script src="/js/client.js"></script>
</head>

<body>
  {{>header}}
  <h1>{{title}}</h1>
  <p>{{errorMessage}}</p>
  {{>footer}}
</body>

</html>